@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.dynamicColor{
    transition: background-color 0.3s;
}

.container{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 8% 82% 10%;
    height: 100vh;
    max-width: 100%;
}

.navbar{
    grid-column: 1/-1;
    background-color: #e93846;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid white;
}
#menuBtn{
    margin: 1rem;
}
#navTitle{
    margin-right: auto;
    margin-left: 5px;
    font-size: 35px;
    font-weight: 700 ;
    color: #F1FAEE;
}
#logoIcon{
    filter: invert(92%) sepia(8%) saturate(443%) hue-rotate(66deg) brightness(110%) contrast(96%);
    width: 40px;
}

.projectContainer{
    text-align: center;
    margin: 0;
    z-index: 2;
}
#projectHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #F1FAEE;
    background-color: #e93846;
    border-right: 1px solid #F1FAEE;
}
.svgIcon{
    width: 35px;
}
.svgIconWhite{
    filter: invert(92%) sepia(8%) saturate(443%) hue-rotate(66deg) brightness(110%) contrast(96%);
}
.svgIconRed{
    filter: invert(38%) sepia(35%) saturate(5806%) hue-rotate(333deg) brightness(91%) contrast(101%);
}
.svgIconOrange{
    filter: invert(47%) sepia(89%) saturate(5558%) hue-rotate(2deg) brightness(102%) contrast(106%);
}
.svgIconGreen{
    filter: invert(22%) sepia(78%) saturate(6176%) hue-rotate(109deg) brightness(98%) contrast(109%);
}

.projectMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #F1FAEE;
}
#menuTitle{
    font-size: 1.65rem;
}
.projectItem{
    margin-top: 5px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 100%;
    justify-content: space-between;
    color: #F1FAEE;
}
.projSpan{
    margin-left: 1rem;
}

.todoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.todoDiv{
    width: 100%;
    display: flex;
    font-size: 18px;
    align-items: center;
    /* color: #F1FAEE; */
    margin-top: 5px;
}
.todoDiv:hover img{
    filter: invert(92%) sepia(8%) saturate(443%) hue-rotate(66deg) brightness(110%) contrast(96%);
}
.todoDiv:hover span{
    color: #F1FAEE;
}
#projectDiv{
    display: flex;
    width: 100%;
    align-items: center;
    color: #F1FAEE;
    background-color: #e93846;
}
.todoCollapsible{
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #F1FAEE;
}       
.contentTitle{
    text-align: center;
}
.todoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}
#editBtn{
    border-radius: 5px;
    border: none;
    color: #F1FAEE;
    font-size: 18px;
    margin-top: 5px;
}
#projectName{
    font-size: 1.65rem;
    margin-left: 10px;
    margin-right: 20px;
}
.todoTitle{
    margin-left: 0.2rem;    
    width: 85%;
}
.todoDate{
    margin-left: auto;
    margin-right: 0.5rem;
}
.high{
    background-color: #e93846;
}
.med{
    background-color: #ff4500;
}
.low{
    background-color: #008000;
}
.todoHigh:hover{
    background-color: #e93846;
}
.todoMed:hover{
    background-color: #ff4500;
}
.todoLow:hover{
    background-color: #008000;
}
.todoActiveH{
    background-color: #e93846;
    color: #F1FAEE;
}
.todoActiveH>img{
    filter: invert(92%) sepia(8%) saturate(443%) hue-rotate(66deg) brightness(110%) contrast(96%);
}
.todoActiveM{
    background-color: #ff4500;
    color: #F1FAEE;
}
.todoActiveM>img{
    filter: invert(92%) sepia(8%) saturate(443%) hue-rotate(66deg) brightness(110%) contrast(96%);
}
.todoActiveL{
    background-color: #008000;
    color: #F1FAEE;
}
.todoActiveL>img{
    filter: invert(92%) sepia(8%) saturate(443%) hue-rotate(66deg) brightness(110%) contrast(96%);
}
#addTodoContainer{
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    max-width: 100%;
 }
 #addTodoContent{
    background-color: #F1FAEE;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    width: 40%;
 }
 #projectFormTitle{
    font-size: 2.5rem;
    font-weight: 700;
 }
 #addForm{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
 }
 #idBtns{
    display: flex;
    justify-content: center;
    padding: 5px;
 }
 #idBtns > * {
    margin-left: 10px;
 }
 #idBtns>button{
    background-color: #e93846;
    color: #F1FAEE;
    border-radius: 5px;
    border: none;
 }
 #confEditBtn{
    display: none;
 }
 #todoTitle, #todoDesc{
    padding: 5px;
 }
 #todoTitle{
    font-size: 30px;
 }
 #addProjectContainer{
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    max-width: 100%;
 }
 #addProjectContent{
    background-color: #F1FAEE;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
 }
 #addProjSpan{
    font-size: 2.5rem;
    font-weight:700;
 }
 #addProjForm{
    margin-top: 5px;
 }
 #projBtns{
    margin-top: 10px;
    display: flex;
 }
 #projBtns>button{
    border-radius: 5px;
    font-size: 18px;
    border: none;
    background-color: #e93846;
    color: #F1FAEE;
 }
 #newProjBtn{
    margin-left: 30px;
 }
 #footer{
    background-color: #e93846;
    color: #F1FAEE;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/-1;
    grid-row-start: 3;
    border-top: 1px solid #F1FAEE;
 }